absl-py==1.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
awsebcli==3.20.7
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==6.0.0
boto3==1.28.8
botocore==1.31.8
branca==0.6.0
bs4==0.0.1
build==0.10.0
CacheControl==0.13.1
cachetools==5.3.0
catboost==1.1.1
cement==2.8.2
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cleo==2.0.1
click==8.1.5
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.3
comm==0.1.2
contourpy==1.0.6
crashtest==0.4.1
cssselect==1.2.0
cvzone==1.5.6
cycler==0.10.0
debugpy==1.6.6
decorator==5.1.1
deepface==0.0.79
defusedxml==0.7.1
distlib==0.3.6
Django==4.2
django-admin-tools==0.9.2
django-ckeditor==6.5.1
django-js-asset==2.0.0
docopt==0.6.2
dulwich==0.21.6
et-xmlfile==1.1.0
executing==1.2.0
fake-useragent==1.1.1
fastjsonschema==2.16.3
filelock==3.12.2
filterpy==1.4.5
Fiona==1.8.22
fire==0.5.0
Flask==2.2.2
flatbuffers==23.1.21
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
fsspec==2023.6.0
gast==0.4.0
gdown==4.7.1
geopandas==0.12.2
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.16.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.51.1
gunicorn==20.1.0
h5py==3.8.0
huggingface-hub==0.16.4
idna==2.10
imageio==2.31.2
importlib-metadata==5.2.0
importlib-resources==5.10.2
imutils==0.5.4
installer==0.7.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jax==0.4.13
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.20.0
keras==2.13.1
Keras-Preprocessing==1.1.2
keyring==24.2.0
kiwisolver==1.4.4
lab==7.3
lazy_loader==0.3
libclang==15.0.6.1
lightgbm==3.3.5
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.5
ml-dtypes==0.2.0
module-name==0.5.1
more-itertools==10.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
mtcnn==0.1.1
munch==2.5.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.1.0
opt-einsum==3.3.0
package-name==0.1
packaging==23.1
pandas==1.5.2
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pathspec==0.10.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pipreqs==0.4.13
pkginfo==1.9.6
platformdirs==3.8.0
plotly==5.11.0
plotly-express==0.4.1
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.21.2
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pybboxes==0.1.6
pycparser==2.21
pyee==8.2.2
PyGetWindow==0.0.9
Pygments==2.14.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
pyppeteer==1.0.2
pyproj==3.4.1
pyproject_hooks==1.0.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
pyquery==2.0.0
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-json-logger==2.0.7
pytube==12.1.2
pytweening==1.0.4
pytz==2022.7
PyWavelets==1.4.1
pywhatkit==5.4
pywin32==305
pywin32-ctypes==0.2.2
pywinpty==2.0.10
PyYAML==5.4.1
pyzbar==0.1.9
pyzmq==25.0.0
qrcode==7.4.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qtconsole==5.4.1
QtPy==2.3.0
rapidfuzz==2.15.1
regex==2023.5.5
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retina-face==0.0.13
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roboflow==1.1.2
rsa==4.9
s3transfer==0.6.1
sahi==0.11.14
scikit-image==0.21.0
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
semantic-version==2.8.5
Send2Trash==1.8.0
shapely==2.0.0
shellingham==1.5.3
simplejson==3.18.3
six==1.14.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
stack-data==0.6.2
statsmodels==0.13.5
supervision==0.11.1
sympy==1.12
tenacity==8.1.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==1.1.0
terminado==0.17.1
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.8.30
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
trove-classifiers==2023.8.7
txt2tags==3.8
typing_extensions==4.4.0
tzdata==2023.3
ultralytics==8.0.139
uri-template==1.2.0
urllib3==1.26.13
virtualenv==20.23.1
w3lib==2.1.1
wcwidth==0.1.9
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==4.0.5
wikipedia==1.4.0
wrapt==1.14.1
xgboost==1.7.5
y-py==0.5.9
yarg==0.1.9
yolov5==7.0.12
ypy-websocket==0.8.2
zipp==3.11.0
